<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reliable.dao.Create2Mapper">
    <update id="createTable2" parameterType="map">
        CREATE TABLE `${tableName}`
        <foreach item="item" index="index" collection="tableField"
                 open="(" separator="," close=")ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;">
            `${item[0]}` text COMMENT '${item[1]}' COLLATE utf8_general_ci
        </foreach>

    </update>
    <update id="dropTable2" parameterType="map">
        drop table if exists `${tableName}`;
    </update>
</mapper>